{% extends "layout.html" %}
{% block body %}
    <div class="hdr_tmbn">
        <div class="jumbotron jbtr", align='center'>
            <h1>BigEye</h1>
            <p>Мы найдем все о твоих друзьях.</p>
            
        </div>
        <div class="image_container">
        </div>
    </div>
    <form action="\">
        <div class="form-group", align='center'>
            <label class="control-label">ID или ссылка на страницу конкретного человека:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Ссылка на страницу или ID (vk.com/id1, id1)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicons glyphicons-search">&nbsp&nbsp&nbsp&nbsp&nbsp</span></button>
                </span>
            </div>
        </div>
    </form>
{% endblock %}
