<!DOCTYPE html>
<html>
<head>
	<title>BigEye</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">BigEye</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
              <li><a href="../">Поиск</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">О нас</a></li>
            <li><a href="/donate">Помощь</a></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="hdr_tmbn">
        <div class="jumbotron jbtr", align='center'>
            <h1>BigEye</h1>
            <p>Мы найдем все о твоих друзьях.</p>
            
        </div>
        <div class="image_container">
        </div>
    </div>
    <form action="\">
        <div class="form-group", align='center'>
            <label class="control-label">ID или ссылка на страницу конкретного человека:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Ссылка на страницу или ID (vk.com/id1, id1)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicons glyphicons-search">&nbsp&nbsp&nbsp&nbsp&nbsp</span></button>
                </span>
            </div>
        </div>
    </form>
</body>
</html>